* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.exe binary
*.dll binary
*.node binary

pnpm-lock.yaml linguist-generated=true -diff
